@model CustomerApp.Models.Customer
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>homezad</title>
    <link href="~/style.css" rel="stylesheet" />
</head>
<body>

    <h3>
        Salam men hesen, bu home page
    </h3>

    <p>
        Viewbag.Name = @ViewBag.Name
    </p>

    <p>
        Viewdata["Name"] = @ViewData["Name"]
    </p>

    <hr />

    <p>
        yasim: @Model.Age soyadim: @Model.LastName
    </p>

    <hr />

    <p>
        @ViewData["ID"]
    </p>

</body>
</html>
